.fuel-discount {
    .w;
    .mb;
    &__inner {
        .w2;
    }
    &__heading {
        .h1;
        max-width: 13em;
    }

    &__list {
        display: flex;
        gap: 24px;
    }
    &__item {
        min-height: 100%;
        width: calc(33.333% - 16px);
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #FFFFFF;
        box-shadow: 0px -2px 12px rgba(19, 19, 19, 0.08);
        border-radius: 2px;
        &-heading {
            .accent-1;
            margin: 0 0 8px 0;
        }
        &-copy {
            flex-grow: 1;
            .text-caption-1;
            color: var(--c-text-2);
            margin: 0 0 24px 0;
        }
        &-image {
            margin: 0 -32px -24px -32px;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    @media (max-width: 1000px) {
        &__list {
            gap: 20px;
        }
        &__item {
            padding: 24px 24px;
            &-image {
                margin: 0 -24px -24px -24px;
            }
        }
    }
    @media (max-width: 760px) {
        &__list {
            flex-direction: column;
            gap: 12px;
        }
        &__item {
            width: auto;
            &-copy {
                margin-bottom: 32px;
            }
        }
    }
}

.fuel-pros {
    .vacancies-us__item-copy {
        max-width: none;
        text-wrap: wrap;
    }
    @media (max-width: 500px) {
        .vacancies-us__item {
            width: 278px;
            &-image {
                width: 209px;
                margin: 0 auto;
                bottom: -40px;
            }
        }
        .vacancies-us__heading {
            max-width: none;
        }
        .vacancies-us__item-heading {
            max-width: 188px;
        }
        .vacancies-us__item .folder-sm__body {
            padding-bottom: 196px;
        }
    }
}

.fuel-ecosystem {
    .home-ecosystem__item-heading {
        min-height: 100px;
        display: flex;
        align-items: center;
        font-weight: 500;
        line-height: 24px;
        @media (max-width: 1200px) {
            min-height: 80px;
        }
        @media (max-width: 760px) {
            min-height: 68px;
            line-height: 16px;
            br {
                display: none;
            }
        }
    }
}