<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<script>document.documentElement.className=''</script>
<title>Cargonomica</title>
<!--[if lt IE 9]><script src="js/html5shiv-printshiv.min.js"></script><![endif]-->
<link rel="stylesheet" href="css/style.css?html">
<meta name="description" content="Сargonomica — экосистема,cнижающая себестоимость грузоперевозок">

<meta property="og:site_name" content="">
<meta property="og:url" content="">
<meta property="og:title" content="Сargonomica — экосистема,cнижающая себестоимость грузоперевозок">
<!-- <meta property="og:image" content="/img/og.png"> -->
<meta property="twitter:card" content="summary_large_image">
<meta name="pinterest" content="nopin">
</head>

<body class="body-on-load @@bodyClass">

<header class="header"><div class="header__inner"><div class="header__body">
	<div class="header__top">
		<div class="header__logo _desktop"><a href="index.html"><img src="img/logo.svg" alt=""></a></div>
		<div class="header__logo _mobile"><a href="index.html"><img src="../img/logo-m.svg" inline alt=""></a></div>
		<nav class="header__nav">
			<ul>
				<li class="header__nav-item-sub">
					<div class="header__nav-label">Грузоперевозчикам<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path stroke="#20212B" stroke-width="1.06667" d="m5.172 7.333 2.78 2.782a.067.067 0 0 0 .095 0l2.781-2.782"/></svg></div>
					<div class="header__nav-sub">
						<div class="header__nav-sub-item">
							<div class="header__nav-sub-item-header">
								<a href="#" class="header__nav-sub-item-header-name">
									<img src="img/header-pricep.svg" alt="">
									полуприцеп.рф
								</a>
								<div class="header__nav-sub-item-header-label">полуприцепы с выгодой</div>
							</div>
							<ul>
								<li><a href="#">Аренда с выкупом тягачей</a></li>
								<li><a href="#">Шины в рассрочку</a></li>
								<li><a href="#">Сопутствующие товары</a></li>
								<li><a href="#">Трейд-ИН</a></li>
							</ul>
						</div>
						<div class="header__nav-sub-item">
							<div class="header__nav-sub-item-header">
								<a href="#" class="header__nav-sub-item-header-name">
									<img src="img/header-used.svg" alt="">
									Cargo.Used
								</a>
								<div class="header__nav-sub-item-header-label">полуприцепы с выгодой</div>
							</div>
							<ul>
								<li><a href="#">Аренда с выкупом тягачей</a></li>
								<li><a href="#">Шины в рассрочку</a></li>
								<li><a href="#">Сопутствующие товары</a></li>
								<li><a href="#">Трейд-ИН</a></li>
							</ul>
						</div>
						<div class="header__nav-sub-item">
							<div class="header__nav-sub-item-header">
								<a href="fuel.html" class="header__nav-sub-item-header-name">
									<img src="img/header-fuel.svg" alt="">
									Cargo.Fuel
								</a>
								<div class="header__nav-sub-item-header-label">скидка на топливо</div>
							</div>
							<ul>
								<li><a href="fuel-adblue.html">Adblue</a></li>
								<li><a href="#">Пропан</a></li>
								<li><a href="#">Метан</a></li>
								@@if (isInner != "fuel-services"){<li><a href="fuel-services.html">Сервисы</a></li>}
								@@if (isInner == "fuel-services"){<li>Сервисы</li>}
							</ul>
						</div>
					</div>
				</li>
				<li class="header__nav-item-sub">
					<div class="header__nav-label">Партнерам<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path stroke="#20212B" stroke-width="1.06667" d="m5.172 7.333 2.78 2.782a.067.067 0 0 0 .095 0l2.781-2.782"/></svg></div>
					<div class="header__nav-sub">
						<div class="header__nav-sub-item">
							<div class="header__nav-sub-item-header">
								<a href="#" class="header__nav-sub-item-header-name">
									<img src="img/header-pricep.svg" alt="">
									полуприцеп.рф
								</a>
								<div class="header__nav-sub-item-header-label">полуприцепы с выгодой</div>
							</div>
							<ul>
								<li><a href="#">Аренда с выкупом тягачей</a></li>
								<li><a href="#">Шины в рассрочку</a></li>
								<li><a href="#">Сопутствующие товары</a></li>
								<li><a href="#">Трейд-ИН</a></li>
							</ul>
						</div>
						<div class="header__nav-sub-item">
							<div class="header__nav-sub-item-header">
								<a href="#" class="header__nav-sub-item-header-name">
									<img src="img/header-used.svg" alt="">
									Cargo.Used
								</a>
								<div class="header__nav-sub-item-header-label">полуприцепы с выгодой</div>
							</div>
							<ul>
								<li><a href="#">Аренда с выкупом тягачей</a></li>
								<li><a href="#">Шины в рассрочку</a></li>
								<li><a href="#">Сопутствующие товары</a></li>
								<li><a href="#">Трейд-ИН</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="header__nav-item-sub">
					<div class="header__nav-label">Сотрудникам<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path stroke="#20212B" stroke-width="1.06667" d="m5.172 7.333 2.78 2.782a.067.067 0 0 0 .095 0l2.781-2.782"/></svg></div>
					<div class="header__nav-sub">
						<div class="header__nav-sub-item">
							<div class="header__nav-sub-item-header">
								<a href="#" class="header__nav-sub-item-header-name">
									<img src="img/header-pricep.svg" alt="">
									полуприцеп.рф
								</a>
								<div class="header__nav-sub-item-header-label">полуприцепы с выгодой</div>
							</div>
							<ul>
								<li><a href="#">Аренда с выкупом тягачей</a></li>
								<li><a href="#">Шины в рассрочку</a></li>
								<li><a href="#">Сопутствующие товары</a></li>
								<li><a href="#">Трейд-ИН</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li><a href="#">Инвесторам</a></li>
				@@if (isInner != "about"){<li class="header__nav-item-much"><a href="about.html">О&nbsp;компании</a></li>}
				@@if (isInner == "about"){<li class="header__nav-item-much"><span>О&nbsp;компании</span></li>}
				@@if (isInner != "contacts"){<li class="header__nav-item-much"><a href="contacts.html">Контакты</a></li>}
				@@if (isInner == "contacts"){<li class="header__nav-item-much"><span>Контакты</span></li>}
				<li class="header__nav-item-sub header__nav-item-more">
					<div class="header__nav-label">Еще<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path stroke="#20212B" stroke-width="1.06667" d="m5.172 7.333 2.78 2.782a.067.067 0 0 0 .095 0l2.781-2.782"/></svg></div>
					<div class="header__nav-sub">
						<div class="header__nav-sub-item _simple">
							<div class="header__nav-sub-item-header">
								<a href="about.html" class="header__nav-sub-item-header-name">
									О компании
								</a>
							</div>
							<ul>
								<li><a href="#">Подход</a></li>
								<li><a href="#">История</a></li>
								<li><a href="#">Структура</a></li>
							</ul>
						</div>
						<div class="header__nav-sub-item _simple">
							<div class="header__nav-sub-item-header">
								<a href="contacts.html" class="header__nav-sub-item-header-name">
									Контакты
								</a>
							</div>
							<ul>
								<li><a href="#">Сервисы</a></li>
								<li><a href="#">Отделы</a></li>
								<li><a href="#">Техподдержка</a></li>
								<li><a href="#">PR</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</nav>
		<div class="header__user">
			<button class="header__burger"><span class="helper-burger"></span></button>
			<a href="#" class="btn _js-login">Личный кабинет</a>
		</div>
	</div>
</div></div></header>

<div class="main-wrapper">



<main class="main">

